@()
<head>
    <div>
        <div class="container">
            <nav class="">
                <ul class="nav nav-pills">
                    <li>Basalte</li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>

                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="banner">
        <a href="#" class="btn btn-primary btn-lg active">Get a lecture</a>
        <p>Computer Science Taught Right</p>
    </div>
</head>