@()(implicit session: Session)

<head>
    <div>
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Basalte</a></li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if(session.get("connected")){
                        <li><a href="/profile">@session.get("user")</a></li>
                        <li><a href="/logout">
                            <i class="fa fa-power-off"  aria-hidden="true"></i>
                        </a></li>
                    } else {
                        <li><a href="/login">Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    <!-- <div class="banner">
        <a href="#" class="btn btn-primary btn-lg active">Get a lecture</a>
        <p>Computer Science Taught Right</p>
    </div> -->
</head>