@import DataForm.LoginData

@(loginForm: Form[LoginData])(implicit messages: Messages)

@template("Basalte - Login page")(null){
    <div class="container-fluid">
        <div class="row">
            @helper.form(action = routes.Application.connection(), 'class -> "col-sm-offset-4 col-sm-4") {
                <div class="form-group">
                    @helper.inputText(loginForm("login"),
                        'id -> "email",
                        'class -> "form-control",
                        'placeholder -> "youremail@gmail.com")
                </div>
                <div class="form-group">
                    @helper.inputPassword(loginForm("password"),
                        'id -> "password",
                        'class -> "form-control",
                        'placeholder -> "ur_cool_pa**word")
                </div>
                <div class="form-group">
                    @helper.checkbox(loginForm("remember"),
                        'checked -> "true"
                    )
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            }
        </div>
    </div>
}


